a{
    text-decoration: none;
    color:#FFF8DC;
}
.header{
    width:100%;
    background-color: #5F9EA0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu{
    font-size: 20px;
    color: rgb(192, 181, 194);
    font-family: fantasy;
    margin: 0 20px;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu__item{
    margin: 0 70px;
   
}
.menu__link:hover {  
    color: #5F9EA0; 
}
.btn{
    font-size: 20px;
    margin-left: auto;
    margin-right: 100px;
    cursor: pointer;
}
.header_med{
    display: none;
}
.modal{
    position: absolute;
    display: none;
    left: 40%;
    width: 300px;
    height: 300px;
    margin:20px auto;
    background-color: #FFF8DC;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 999;
}
.close{

    width: 30px;
    height: 30px;
    margin-left: 220px; 
    display: flex;
    transform: rotate(45deg);
    cursor: pointer;
}
.cl1{

    width: 15px;
    height: 15px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    
}
.cl2{
   width: 15px;
    height: 15px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    
}
.cl3{
    width: 15px;
    height: 15px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
   
}
.cl4{
   width: 15px;
    height: 15px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}


@media screen and (max-width: 500px){
    .header{
        display: none;
    }
    .header_med{
        background-color: #5F9EA0;
        height: 200px;
        width: 70px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    a{
        text-decoration: none;
        color:#FFF8DC;
    }
    .menu__link:hover {  
        color: #5F9EA0; 
    }
    .menu{
        font-size: 20px;
        color: rgb(192, 181, 194);
        font-family: fantasy;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5px 0;
    }
    
}
.slides{
    display: block;
    position: relative;
    z-index: 1;
}
.slider {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
  
.slider__item {
      display: none;
}
  
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
}
  
  
.next {
    right: 0;
}
  
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}
.block{
    cursor: pointer;
    margin: 0 auto;
    width: 100px;
    height: 80px;
    background-color: red;
    transition: 0.3s ease;
}
.block_b{
    cursor: pointer;
    width: 100%;
    height: 80px;
    background-color: black;
    transition: 0.3s ease;
}